.editor{
    min-height: 100px !important;
    background-color: beige;
    display: block;
}

.editor-ex{
    display: none;
}

.date-picker{
  position: absolute;
  z-index: 10000;
}
.calander{
    width: 250px;
    height:auto; 
    border: 1px solid #eee;
    border-radius: 2px;
    -webkit-box-shadow: 7px 7px 22px 3px rgba(0,0,0,1);
-moz-box-shadow: 7px 7px 22px 3px rgba(0,0,0,1);
box-shadow: 7px 7px 22px 3px rgba(0,0,0,1);
}

.calander table{
    width: 100%;
    border-collapse: collapse;
    color:#7e7e7e;
}

.calander tr td{
 cursor: pointer;
}

.calander tr td:hover,
.calander tr th.head:hover,
.calander tr th.nav:hover{
    background-color: #ddd;
    border-radius: 5px;
    color: #fff;
}
.calander tr th.nav{
  width: 25px;
  text-align: center;
  height: 25px;  
  cursor: pointer;
    color: #aaa;
}

.calander tr th.head{
  width: 200px; 
  text-align: center;
  height: 25px; 
  cursor: pointer;    
}

.calander tr.head th{
    font-weight: bold;
    text-align: center;

}

.calander td.date{
  width: 40px;
  height: 40px;
  text-align: center;
    padding: 5px;
}

.calander td.month{
   width: 60px;
  height: 40px;
  text-align: center;
    padding: 5px;  
}

.calander td.year{
    width: 100px;
  height: 40px;
  text-align: center;
    padding: 5px;
}

.calander td.prev-d{
  color:#ddd;  
}

.calander td.prev-d:hover{
  color:#fff;
 
}

.calander td.prev-d{
    
}

.calander td.today-d{
   background-color:#58cc00;
    color: #fff;
       border-radius: 5px;
}


.calander td.next-d{
   color:#aaa; 
}
